html > body {
  background: #e6ddde;
}

h1 {
  font-size: 50px;
  font-weight: bold;
}

h1 > a {
  color: inherit;
}

a {
  text-decoration: none;
}

.searchBar {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.modal-header {
  background: #f6f6f6;
}

.modal-footer {
  background: #f6f6f6;
  justify-content: space-between;
}
